# Entornos virtuales
venv/
.venv/
.venv_new/
.venv_old_20260227/
.conda/
decor/

# Datos y Pesos (Pesan mucho)
data/
models/*.pth
models/*.pt
checkpoint.pth

# Python
__pycache__/
*.py[cod]

# VS Code y Sistema
.vscode/
.DS_Store
*:Zone.Identifier

# Ficheros temporales de LaTeX (pero no main.tex ni main.pdf)
main.*
!main.tex
!main.pdf
